body {
  font-family: 'Oswald', sans-serif;
}
.content {
  position: relative;
  top: 50px;
}

.header {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 767px) {
  .header {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
header h1, h2 {
  color: #fff;
  text-shadow: 3px 2px 3px #222;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-title h1{
    margin-top: 70px;
  }
}
@media (min-width: 992px) {
  .header-title h1{
    margin-top: 100px;
  }
}
.header img {
  border: 5px solid #333;
}
.page-about {
  width: 100%;
  min-height: auto;
  padding-top: 20px;
}
.page-about h1 {
  text-shadow: 1px 1px 1px #222;
}
.page-about p {
  text-align: justify;
  font-size: 22px;
  margin-bottom: 40px;
}
.about-hobbies h1 {
  color: #fff;
  text-shadow: 2px 2px 2px #222;
}
.about-hobbies {
  background-image: url("../img/photo-hobby.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
}
.about-hobbies p {
  text-align: justify;
  font-size: 22px;
  color: #333;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.5);
}
.page-portfolio h1 {
  margin-top: 40px;
}
.curriculum {
}

.carousel {
  margin: 15px auto;
  max-width: 300px;
  max-height: 250px;
}
@media (min-width: 768px){
  .carousel {
    margin: 40px auto;
  }
}
.page-contact {
  padding-top: 10px;
  padding-bottom: 20px;
}
.social {
  padding: 10px;
}
.social img {
  margin: 10px;
}
