body {
  font-family: 'Oswald', sans-serif;
}
.content {
  position: relative;
  top: 50px;
}
.header {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 767px) {
  .header {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
header h1, h2 {
  color: #fff;
  text-shadow: 3px 2px 3px #222;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-title h1{
    margin-top: 90px;
  }
}
@media (min-width: 992px) {
  .header-title h1{
    margin-top: 130px;
  }
}
.header img {
  border-radius: 50%;
  border: 5px solid #333;
}
.page-about {
  width: 100%;
  min-height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-about p {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 30px;
}
